@import url('https://fonts.googleapis.com/css2?family=Bangers&family=Montserrat:ital,wght@0,100;0,200;0,500;0,600;0,800;0,900;1,100;1,500&display=swap');

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    display: flex;
    flex-direction: column;
    font-family: 'Montserrat', sans-serif;
    height: 100%;
}

.container-selectBank {
    display: block;
    width: 100%;
    height: 100%;
}

.retangle-selectBank {
    display: flex;
    width: 100%;
    height: 90px;
    background-color: #00003C;
    color: white;
}

.user-name {
    display: flex;
    align-items: center;
}

.container-selectBank {
    display: block;
    width: 100%;
    height: 100%;
}

.icon-bank {
    display: flex;
    width: 100%;
    justify-content: center;
    text-align: center;
}

.banks-container {
    text-align: center;
    width: 60%;
    padding-top: 5rem;
    margin: auto;
}

.icon-more-selectBank {
    width: fit-content;
    height: 3vh;
}

.retangle-bottom-home {
    width: 100%;
    position: fixed;
    left: 0;
    bottom: 0;
    background-color: #00003C;
}

.content-bottom-retangle {
    display: flex;
    justify-content: space-around;
    padding: 1%;
}

.box-banks-more {
    display: grid;
    grid-template-columns: 20% 20% 20% 20% 20% 20%;
    grid-template-rows: 60%;
    gap: 10%;
    margin-bottom: 25%;
}

.name-bank {
    padding: 10px;
    border-top: 1px solid #ea3b8d;
    border-bottom: 1px solid #ea3b8d;
}

.name-bank a {
    color: #00003C;
    font-size: 1.5rem;
    text-decoration: none;
}

.name-bank a:hover {
    color: #F54868;
}

@media only screen and (max-width: 845px) and (min-width: 389px) {

    .select-bank {
        text-align: center;
        padding: 5%;
    }

    #selectBank {
        color: #00003C;
        font-size: 2.5rem;
        margin-left: 1rem;
    }

    .buttons-add-new-bank {
        text-align: center;
    }

    #btn-add {
        width: 30%;
    }

    .banks-container {
        display: flex;
        width: 90%;
        margin-top: 10%;
    }

    .icon-more-selectBank {
        width: fit-content;
        height: 3vh;
    }

    .box-banks-container {
        margin: auto;
    }
}