* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    display: flex;
    flex-direction: column;
    font-family: 'Ubuntu', sans-serif;
    height: 100%;
}

.container-home {
    display: block;
    width: 100%;
    height: 100%;
}

.retangle-select {
    background-color: #00003C;
}

#logo-safra-selectApp {
    width: 6%;
}

.container-selectApp {
    display: block;
    width: 100%;
    height: 100%;
}

.title-container {
    display: flex;
    margin: 3% 0 1% 0;
    justify-content: center;
    align-items: center;
}

.arrow-icon {
    width: 3.2vw;
}

.title-text {
    color: #00003C;
    font-size: 2.5rem;
    margin-left: 7rem;
    text-decoration: none;
}

.apps-container {
    display: flex;
    justify-content: center;
}


.icon-ifood {
    width: 100%;
}

.icon-mercado-pago {
    width: 50%;
}

.icon-ame {
    width: 50%;
}

.icon-dotz {
    width: 10%;
}

.icon-more {
    width: 4%;
}

.retangle-bottom-home {
    width: 100%;
    position: fixed;
    left: 0;
    bottom: 0;
    background-color: #00003C;
}

.content-bottom-retangle {
    display: flex;
    justify-content: space-around;
    padding: 2%;
}

#arrow-icon {
    width: 3.2vw;
}

@media only screen and (max-width: 845px) and (min-width: 389px) {

    .select-app {
        text-align: center;
        padding: 5%;
    }

    #arrow-icon {
        width: 10vw;
    }

    #selectBank {
        color: #00003C;
        font-size: 2.5rem;
        margin-left: 1rem;
    }

    .buttons-add-new-bank {
        text-align: center;
    }

    #btn-add {
        width: 30%;
    }

    .title-text {
        margin-left: 0;
    }

}