@import url('https://fonts.googleapis.com/css2?family=Bangers&family=Montserrat:ital,wght@0,100;0,200;0,500;0,600;0,800;0,900;1,100;1,500&display=swap');

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    display: flex;
    flex-direction: column;
    font-family: 'Montserrat', sans-serif;
    height: 100%;
}

.container-home {
    display: block;
    width: 100%;
    height: 100%;
}

.header-credentials {
    display: flex;
    width: 100%;
    height: 90px;
    background-color: #00003C;
    color: white;
}

.user-name {
    display: flex;
    align-items: center;
}

.title-container {
    display: flex;
    margin: 5%;
    margin-right: 5rem;
    gap: 20px;
    justify-content: center;
    align-items: center;
}

.retangle-bottom-home {
    width: 100%;
    position: fixed;
    left: 0;
    bottom: 0;
    background-color: #00003C;
}

.content-bottom-retangle {
    display: flex;
    justify-content: space-around;
}

.title-text {
    color: #00003C;
    font-size: 2rem;    
    text-decoration: none;
}

.icon-avatar {
    width: 75%;
    bottom: 10rem;
}

.avatar-container{
    width: 18vw;
    right: 0;
    bottom: 30%;
    position: fixed;
}

.btn-container {
    display: flex;
    text-align: center;
    height: 40vh;
}

.btn-items {
    width: 100%;
    margin: auto;
}

.btn {
    width: 25%;
    height: 5vh;
    border: none;
    border-radius: 5px;
    background-color: #00003C;
    color: white;
    margin: 7% 0 10% 0;
    font-size: 1.3rem;
    cursor: pointer;
}

.btn:hover {
    background-color: #040f4f;
}

.article-container {
    width: 100%;
    height: 100%;
    display: flex;
}

.article-text {
    width: 85%;
    margin: auto;
    padding: 1%;
}

.open-finance-text {
    margin-bottom: 30%;
    margin-left: 7.5%;
    padding: 1%;
    color: #F54868;
}

@media only screen and (max-width: 845px) and (min-width: 389px) {

    #arrow-icon {
        width: 20vw;
    }

    .article-container {
        width: 60vw;
    }

    .btn-items {
        margin: 0;
        align-items: center;
        width: 100%;
    }
    .btn-container{
        height: 20%;
    }

    .article-text {
        width: 60vw;
        padding: 15px;
    }

    .icon-avatar {
        width: 40vw;
        right: 0;
        bottom: 15%;
        position: fixed;
      
    }

    .open-finance-text {
        margin-left: 3%;
    }

}